:root {
    --background-primary: rgba(35, 35, 35, .3);
    --background-secondary: rgba(34, 34, 34, .3);
    --background-tertiary: rgba(32, 32, 32, .3);
    --background-secondary-alt: rgba(51, 51, 51, .3);
    --channeltextarea-background: rgba(68, 68, 68, .4);
    --background-modifier-accent: rgba(255, 0, 0, 0.1);
    --divider-color: rgba(255, 0, 0, 0.6);
    --brand-experiment: rgba(255, 0, 0, 0.6);
    --text-link: rgba(255, 0, 0, .7);
    --background-accent: rgba(255, 0, 0, 0.5);
    /* --background-modifier-selected */
}
 body {
    background: url("https://cdn.discordapp.com/attachments/467688938681794560/881320734184591360/maxresdefault.png");
    background-size: cover;
    background-position: center;
}
.titleBar-AC4pGV {
    background-color: rgba(32, 32, 32, .7) !important;
}
.wordmarkWindows-1v0lYD {
    display: flex;
    align-items: center;
}
.wordmarkWindows-1v0lYD::after {
    content: "Fibonecce Theme";
    color: var(--text-muted);
    font-size: .5rem;
    letter-spacing: .2px;
    padding-left: 3.5px;
    padding-top: 1.5px;
    font-weight: 700;
}
.withFrame-haYltI {
    margin-top: 0 !important;
    padding-top: 4px;
}
.theme-dark .container-1D34oG {
    background-color: var(--background-primary) !important;
}
.item-3HknzM .item-PXvHYJ .themed-OHr7kt {
    background-color: rgba(255, 0, 0, 0.3);
}
.panels-j1Uci_ {
    background-color: var(--background-secondary);
}
.applicationStore-1pNvnv {
    background-color: var(--background-primary);
}
.sidebar-2K8pFh {
    z-index: 2;
}
.container-3w7J-x {
    transform: translateX(1.5px);
}
.membersGroup-v9BXpm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.membersGroup-v9BXpm::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 0, 0, 0.4);
    margin: 0 10px;
}
.wrapper-3NnKdC {
    overflow: visible;
    position: relative;
    z-index: 3;
}
.expandedFolderBackground-1cujaW {
    background-color: var(--background-secondary-alt);
}
.folder-1hbNCn {
    background-color: rgba(68, 68, 68, 0.5);
}
.hover-qTxTR_ {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}
.form-2fGMdU {
    padding: 0 20px;
}
.markup-2BOw-j a {
    color: rgba(255, 50, 50, 1);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}
.embedTitle-3OXDkz {
    color: rgba(255,255,255, .9) !important;
    text-shadow: 0 0 0;
    font-size: 1.10rem;
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp, .button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp {
    background-color: var(--brand-experiment);
}
.circleIcon-1-oi1i path, .circleIconButton-1QV--U path, .unreadPillCapStroke-7rkHbg {
    fill: var(--brand-experiment);
}
.divider-JfaTT5 {
    border-top: solid thin rgba(255, 0, 0, 0.1);
}
.unreadPill-2HyYtt, .unreadPill-2HyYtt path {
    z-index: 2;
    background-color: rgba(255, 0, 0, 0.5);
}
.unreadPillCapStroke-7rkHbg,
.isUnread-3Ef-o9,
.group-spacing-16 .divider-3_HH5L.beforeGroup-1rH1F0,
.colorable-1bkp8v.red-33-Lnk,
.live-vBWnV6,
.mediaBarGrabber-1FqnbN,
.numberBadge-2s8kKX,
.mention-1f5kbO,
.iconBadge-3qSJIw.participating-1NvRVd {
    background: rgba(255, 0, 0, 0.6) !important;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}
.selected-3LIHYU .content-1x5b-n, .selected-aXhQR6 {
    border-left: solid 2px rgba(255, 0, 0, 0.6) !important;
    padding-left: 10px;
    background: linear-gradient(
        to left,
        #4f545c52,
        rgba(255, 0, 0, 0.6),
        #4f545c52,
        #4f545c52
    );
    background-size: 600% 600%;
    transition: border-left 0.2s ease-in;

    -webkit-animation: SelectAnim 1s ease-in forwards !important;
    -moz-animation: SelectAnim 1s ease-in forwards !important;
    animation: SelectAnim 1s ease-in forwards !important;
}
.selected-aXhQR6 {
    padding-left: 3px !important;
}
@-webkit-keyframes SelectAnim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: -100% 50%;
    }
    100% {
        background-position: -130% 50%;
    }
}
@-moz-keyframes SelectAnim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: -100% 50%;
    }
    100% {
        background-position: -120% 50%;
    }
}
@keyframes SelectAnim {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: -100% 50%;
    }
    100% {
        background-position: -120% 50%;
    }
}
.numberBadge-2s8kKX {
    width: 20px;
}
.homeIcon-FuNwkv {
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;

    background: url(https://cdn.discordapp.com/attachments/381873284188340224/880979513050288218/phiboLogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    transition: background-position 0.5s ease-in-out;
}
.wrapper-1BJsBx:hover .homeIcon-FuNwkv,
.selected-bZ3Lue .homeIcon-FuNwkv,
.homeIcon-FuNwkv:hover {
    background-position: left 0px bottom 500px;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
}
.homeIcon-FuNwkv:hover path,
.selected-bZ3Lue .homeIcon-FuNwkv path {
    transform: translateY(0px);
}
.homeIcon-FuNwkv path {
    width: 50%;
    height: auto;
    transform: translateY(500px);
    transition: transform 0.5s ease-in-out;
}
#private-channels-2 .linkButtonIcon-Mlm5d6 path, #private-channels-0 .linkButtonIcon-Mlm5d6 path {
    display: none;
}
#private-channels-0 .linkButtonIcon-Mlm5d6 {
    background: url(https://cdn.discordapp.com/attachments/865387179689902091/881685255386464306/zap_zap.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    background-position: 50% 50%;
    width: 80%;
    height: 80%;
}
#private-channels-2 .linkButtonIcon-Mlm5d6 {
    background: url(https://cdn.discordapp.com/attachments/467688938681794560/881952533004841030/Untitled-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: invert(1);
}
.barBase-1c2Rfb{
    left: 20px;
    right: 20px;
}
.button-38aScr:hover {
    background-color: rgba(255, 0, 0, .4) !important;
}
.children-3rEycc .iconItem-F7GRxr .actionIcon-PgcMM2 path:first-child {
    position: absolute;
    left: 50%;
    transform: translate(-50%) scale(1.5);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
}

.actionIcon-PgcMM2 path:nth-child(2n),
.children-3rEycc .iconItem-F7GRxr:first-of-type .actionIcon-PgcMM2 path:last-child {
    display: none;
}
/* .children-3rEycc .iconItem-F7GRxr:first-child .actionIcon-PgcMM2:first-child {
    outline: solid red 2px;
} */
/* .children-3rEycc .iconItem-F7GRxr:last-child .actionIcon-PgcMM2 {
    background: url(https://cdn.discordapp.com/attachments/381873284188340224/882010443537850378/unknown.png);
} */
.actionIcon-PgcMM2:last-child {
    background: url(https://cdn.discordapp.com/attachments/381873284188340224/880979513050288218/phiboLogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

/*https://cdn.discordapp.com/attachments/467688938681794560/881955442484469820/drawingeditpenpencilwritewritingicon-1320165736093886255.png*/

.children-3rEycc .iconItem-F7GRxr:last-child path {
    left: 50%;
    transform: translate(15%, -15%) scale(1) !important;
    width: 30% !important;
    height: 30% !important;
} 

/* Config Tab */

.sidebarRegion-VFTUkN, .sidebarRegionScroller-3MXcoP {
    justify-content: flex-start;
}
.sidebarRegionScroller-3MXcoP {
    flex: 1 1 auto;
}
.sidebar-CFHs9e {
    width: 100%;
    padding: 60px 6px 60px 30px;
}
.contentColumn-2hrIYH, .customColumn-Rb6toI {
    max-width: 900px;
}
.contentRegion-3nDuYy {
    flex: 1 1 900px;
}
.side-8zPYf6 > .item-PXvHYJ {
    font-size: 20px;
}
